body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selections
{
    display: flex;
    justify-content: space-around;
}
.user_login{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    background-color: silver;
}
.reg_area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.large_text > p{
    margin: 20px 0px;
}
.text>p{
    margin: 10px 0px;
}
.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list_logo{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.community{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.information{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.info_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(27%);
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 144px;
}
.news_list_content
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.news_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30%);
}
.footer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.text_and_demo_area{
    width: 60%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}
.btn_demo
{
    display: flex;
    justify-content: center;
    background-color: green;
    width: 100px;
    height: 30px;
    align-items: center;
    border-radius: 15px;
}